*{
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    margin: 0;
    background-color: #f7f7f7;
    height: 100vh;
    width: 100vw;
}

body, .quote-input{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.grid {
    display: grid;
    grid-template-rows: 170px auto;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.first, .second {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    width: 700px;
    max-width: 90%;
    display: none;
    margin: 10px;
    box-shadow: 1px 2px 5px #00000040;
}

.title{
    font-size: 2.5rem;
    color: #7ca7c0;
    font-weight: bold;
}

.timer{
    font-size: 3rem;
    color: #7ca7c0;
    font-weight: bold;
    display: none;
}

.start{
    background-color: #26a75c;
    color: #fff;
    padding: 20px;
    font-size: 4rem;
    border-radius: .5rem;
    cursor: pointer;
    position: absolute;
    top: 43vh;
}

.continue{
    background-color: #26a75c;
    color: #fff;
    padding: 15px;
    font-size: 2.5rem;
    border-radius: .5rem;
    cursor: pointer;
    display: none;
    margin: 5px;
}

.quote-display{
    font-size: 1.2rem;
    margin-bottom: 1rem;
    margin-left: calc(1rem +2px);
    margin-right: calc(1rem +2px);
}

.timer, .quote-display, .comecar, .continuar{
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;
    -o-user-select:none;
}

.quote-input{
    background-color: transparent;
    border: 2px solid #7ca7c040;
    outline: none;
    width: 100%;
    height: 8rem;
    margin: auto;
    resize: none;
    padding: .5rem 1rem;
    font-size: 1.2rem;
    border-radius: .5rem;
    text-decoration: none;
}
.quote-input:focus{
    border-color: #7ca7c0b0;
}
.correct{
    color: #26a75c;
}
.incorrect{
    color: red;
}

.modal-back{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000088;
    display: none;
}

.modal{
    position: relative;
    top: 43vh;
    left: calc(50vw - 250px);
    background-color: #fff;
    width: 500px;
    padding: 15px;
    border-radius: 5px;
}

.modal span{
    position: relative;
    float: right;
    cursor: pointer;
    font-size: 3em;
    color: white;
    background-color: rgb(177, 14, 14);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#restart{
    color: #7ca7c0;
    cursor: pointer;
    padding: 10px;
    font-size: 1.5rem;
    border: solid 2px #7ca7c0;
    border-radius: 8px;
    margin: 5px;
    display: none;
    box-shadow: 0 0 10px #00000040;
}

@media screen and (max-width: 500px){
    .modal{
        left: 0;
        width: 100vw;
    }
}